<div class="col-md-10 col-md-offset-1">
  <div class="new-play-form">

    <h1>Edit My Resume</h1>

    <%= simple_form_for @play, html: {multipart: true} do |f| %>
      <%= f.file_field :play_img %>      
      <%= f.input :title, label: "Name" %>
      <%= f.input :description %>
      <%= f.input :director %>
      <%= f.button :submit %>
      <%= link_to "Back", play_path(@play), class: "btn btn-info" %>
    <% end %>
  </div>
</div>
