<h2><%= @play.title %></h2>
<h3><%= @play.director %></h3>
<p><%= @play.description %></p>

<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @play.user_id == current_user.id %>
      <%= link_to "Back", root_path %>
      <%= link_to "Edit", edit_play_path(@play) %>
      <%= link_to "Delete", play_path(@play), method: :Delete, data: { confirm: "Are you Sure?" } %>
    <% end %>
  <% end %> 
</div>
